{% extends 'base.html.twig' %}

{% block title %}Books List{% endblock %}

{% block body %}

{% for book in books %}
<div class="card text-white bg-primary mb-3" style="max-width: 300px;margin-top: 2rem">
  <img src="{{book.image}}" width="298px">
  <div class="card-body">
    <h5 class="card-title">{{book.title}}</h5>
    <h6 class="card-subtitle text-muted">{{book.author}}</h6>
  </div>
    <a href="/Books/{{book.id}}" class="btn btn-secondary">Read More</a>
</div>
{% endfor %}
{% endblock %}
